<div id="player" style="background-image: url('{{ curAudio.photo_author }}')">
    <div class="col-xs-6 player-left-side">
        <div class="player-logo-wrapper" style="{{curAudio.style}}">

            <div class="player-logo" style="background: url('{{ curAudio.photo_author }}') no-repeat center center;"></div>
        </div>
        <div class="player-buttons">
            <ul>
                <li ng-click="nextPlay(false)" class="player-btn player-btn-backward">
                    <i class="fa fa-step-backward"></i></li>
                <li ng-click="pauseAndPlay()" class="player-btn player-btn-middle"><i
                        ng-class="{'fa fa-stop': curAudio.stop, 'fa fa-play': curAudio.pause, 'fa fa-pause': !curAudio.pause}"></i>
                </li>
                <li ng-click="nextPlay(true)" class="player-btn player-btn-forward"><i class="fa fa-step-forward"></i>
                </li>
            </ul>
        </div>
        <div class="players-status-bar">
            <div class="players-current-audio players-audio-name" ng-bind="curAudio.name | limitTo:20"></div>
            <div class="players-current-audio players-audio-author" ng-bind="curAudio.author | limitTo:20"></div>
            <div class="players-current-audio players-audio-duration"> {{ curAudio.cur_duration | secondsToDateTime |
                date:'mm:ss' }} | {{ curAudio.duration | secondsToDateTime | date:'mm:ss' }}
            </div>
        </div>
    </div>
    <div class="col-xs-6 player-right-side">
        <div class="players-audio-list">
            <div class="player-list-scroller nano">
                <div class="nano-content">
                    <div ng-repeat="itemAudio in props" ng-click="startAudio(itemAudio)"
                         ng-class="{'players-audio-list-item players-audio-item-active': itemAudio.active, 'players-audio-list-item': !itemAudio.active}">
                        <div ng-if="itemAudio.active" class="col-xs-10 players-item-name" ng-bind="curAudio.name | limitTo:12"></div>
                        <div ng-if="!itemAudio.active" class="col-xs-10 players-item-name" ng-bind="itemAudio.title | limitTo:16"></div>
                        <div ng-if="!itemAudio.active" class="col-xs-2 players-item-duration"
                             ng-bind="itemAudio.duration | secondsToDateTime | date:'mm:ss'"></div>
                        <div ng-if="itemAudio.active" class="col-xs-2 players-item-duration" style="width: 74px;">{{
                            curAudio.cur_duration | secondsToDateTime | date:'mm:ss' }} | {{ curAudio.duration |
                            secondsToDateTime | date:'mm:ss' }}
                        </div>
                    </div>
                </div>
                <div class="nano-pane">
                    <div class="nano-slider" style="height: 35px;  transform: translate(0px, 0px);"></div>
                </div>
            </div>
        </div>
        <div class="player-setting-bar">
            <div class="player-volume">
                <i ng-class="{'fa fa-volume-up': curAudio.volume >= 0.6, 'fa fa-volume-down': curAudio.volume <= 0.6 && curAudio.volume != 0, 'fa fa-volume-off': curAudio.volume == 0}"
                   id="ico-volume"></i>
                <label id="volume">
                    <input ng-change="changeVolume()"
                           min="0"
                           max="1"
                           step="0.05"
                           ng-model="curAudio.volume"
                           type="range"
                           data-rangeslider="true" id="rangeVolume">
                </label>
            </div>
        </div>
        <div class="player-loading-bar">
            <i ng-if="!auth" class="fa fa-sign-in ico-auth" ng-click="login()"></i>
            <i ng-if="auth" class="fa fa-sign-out ico-auth" ng-click="logout()"></i>
            <i ng-if="props.length > 1" class="fa fa-random ico-random" ng-click="randomTrack()"></i>
        </div>
    </div>
</div>
